.sidebar {
    ul.sidebar-nav {
        padding: 0;
        list-style: none;

        li {
            a.nav-link {
                display: block;
                padding: 10px;
                color: #333;
                text-decoration: none;

                &.active {
                    color: #007bff;
                    background-color: #f0f0f0;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
