// Custom resets
*, *:before, *:after {
    box-sizing: border-box; // Ensures padding and border are included in the element's total width and height.
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
    margin: 0; // Removes default margin
    padding: 0; // Removes default padding
}

body {
    min-height: 100vh;
    line-height: 1.5;
    font-family: Arial, sans-serif; // Sets a default font family
}

a {
    text-decoration: none; // Removes underline from links
}

img {
    max-width: 100%; // Ensures images are never wider than their container
    height: auto; // Keeps the original aspect ratio
}

// Reset for all buttons
button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
  